{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="'polls/main.css'"> -->

    {%if title%}
        <title>Aves voting app-{{ title }}</title>
    {%else%}
        <title>Aves voting app</title>
    {%endif%}
    <body style="background-color:#ebedef">
    <style>
        .custom-bg-color {
            background-color: #303c54; /* Your custom color code */
            
        }

        .vote-button:hover{
            background-color:rgb(217, 217, 217) ;
            /* opacity: 0.3; */
            transition: background-color 0.4s;
            
        }
        .vote-button:active{
            background-color:rgb(176, 176, 176) ;
            transition: background-color 0.4s;
        }

    </style>
</head>

<body class="h-100 ">
   <main class="d-flex container-fluid align-items-stretch h-100 p-0 m-0 ">
        <!-- sidebar -->
        {%include "polls/sidebar.html"%}
        
        <div id="wrapper" class="container-fluid p-0 overflow-auto">
            <!-- navbar -->
            {%include "polls/navbar.html"%}
            
            <div id="content" class="container-fluid p-4 overflow-auto">
                {%block content%}{%endblock%}
                
            </div>
        </div>
    </main>
    
    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
    <script src="/static/assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <!-- <script src="/static/assets/vendors/simplebar/js/simplebar.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/autoloader/prism-autoloader.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script> -->

</body>

</html>