{%extends "polls/base.html"%}
{%block content%}
{% load static %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'polls:election' %}">Election</a></li>
        <!-- takes you back to the previous page "javascript" thing in case you forget -->
      <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Positions</a></li>
      <li class="breadcrumb-item active" aria-current="page">Candidates</li>
    </ol>
</nav>



<div class="my-auto ">

    {%for candidate in candidate_list%}
        <div class="card col-md-4 mb-3" style="width: 100%; height: 300px;">
            <div class="card-body my-auto ">
                <h1 class="card-title">{{candidate.student }}</h1>
                <h4 class="card-subtitle mb-2 text-medium-emphasis">{{candidate.position_id}}</h4>
                <h6 class="card-text">{{candidate.short_manifesto}}</h6>
                <div class="container-fluid">
                    <img src="{{ candidate.profile_picture.url }}" alt="" style="width: 100px; height: 100px;">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Button</button>
                </div>
            </div>
                <!-- <p>Debug: position_id = {{candidate.profile_picture.url}}</p> -->
        </div>
    {%endfor%}
</div>


{%endblock content%}
