{%extends "pollApp/base.html"%}
{%block content%}
<div class="row">
    {%for teehee in lastest_election_list%}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%; ">
                <img class="card-img-top" src="/static/assets/img/full.jpg" alt="">
                <div class="card-body">
                    <h1 class="card-title">{{teehee.title}}</h1>
                    <h5 class="card-text">{{teehee.description}}</h5>
                    <h5 class="card-text">Opens- {{teehee.start_date|date:"F d,Y"}}</h5>
                    <h5 class="card-text">Closes- {{teehee.end_date|date:"F d,Y"}}</h5>
                    <h5 class="card-text">Status- {{teehee.status}}</h5>
                    <a class="btn btn-primary" style="width: 100%;" href="{% url 'pollApp:position' election_id=teehee.id %}">Cast your votes here</a>
                </div>
            </div>
        </div>
    {%endfor%}
</div>
{%endblock content%}